#container{
    display: flex;
  }
  #main{
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }
  #main>div>img{
    width: 100%;
    height: 250px;
  }
  #sidebar{
    border-right: 1px solid red;
    padding: 5px;
  }
  #sidebar>p{
      font-size: 20px;
      font-weight: bold;
  }